<section class="mx-auto max-w-7xl px-4 w-full">
    <div class="">
        <h1>Tu carrera empieza aquí</h1>
        <search>
            <form action="">
                <button type="submit">Buscar ofertas</button>
            </form>
        </search>
    </div>
    
</section>